.Form {
  border: 5px solid red;
  height: 500px;
  width: 400px;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
