.navbar {
  background: #A1C181;
}

.link {
  height: 100%;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: #579C87;
}



/* @ivory: #FCF9F4;
@slate: #233D4D;
@soft-teal: #579C87;
@soft-green: #A1C181;
@light-coral: #FEAC88; */